# Flutter/Dart
.DS_Store
.buildlog
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/metadata
glib/
misc/
bin/cache/
build/
flutter_export_environment.sh
**/generated_cplugin*
**/generated_plugin_registrant.dart
**/*.pb.dart
**/*.pbjson.dart
*.log
*.artifacts
*.flutter-plugins-dependencies